* {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  box-sizing: border-box;
  /* font-size: 62.5%; */
  /* background: rgba(17, 17, 17, 0.2); */
}

.weather-app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-image: url(./img/day/cloudy.jpg); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  position: relative;
  transition: 500ms;
  opacity: 0; /* change to 0 if finnished */
}
.weather-app::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 0;
}
.container {
  border: 1px solid rgb(204, 204, 204, 0.2);
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: rgba(204, 204, 204, 0.2);
  position: relative;
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
}
.search-form {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.search {
  background: none;
  /* border: none; */
  border: 1px #ccc solid;
  border-radius: 2em;
  padding: 10px 15px;
  width: 80%;
  color: #fff;
  font-size: 1em;
}
.search:focus {
  outline: 14px;
}
.search::placeholder {
  color: #ccc;
}
.submit {
  padding: 0.7em;
  margin: 0;
  border: none;
  outline: none;
  background-color: #fff;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  transition: 0.4s;
  border-radius: 2em;
}
.submit:hover {
  background: #fff !important;
  color: #000;
}
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.8em;
}
.info > div {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
small {
  font-size: 11px;
}
.name {
  font-size: 34px;
}
.condition,
.condition-text {
  font-size: 16px;
}
header span {
  font-size: 0.9em;
}
/* .icon {
  margin-top: 0.5rem;
} */
.temperature {
  font-size: 3em;
}
.body {
  width: 100%;
  display: flex;
  flex-direction: row !important;
}
.details {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.vl {
  height: 100%;
  width: 5px;
  border-left: 3px solid #ccc;
}
